@import 'tailwindcss';
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("TrueType");
  font-display: swap;
}
@font-face {
  font-family: Changa;
  src: url("/fonts/Changa-VariableFont_wght.ttf") format("TrueType");
  font-display: swap;
}
:root {
  font-family: Montserrat, -apple-system, 'BlinkMacSystemFont', 'avenir next', 'avenir', 'segoe ui', 'helvetica neue', 'Adwaita Sans', 'Cantarell', 'Ubuntu', 'roboto', 'noto', helvetica, arial, sans-serif;
  font-display: swap;
  color: var(--color-light);
}

@theme {
  --color-midnight: #00000D;
  /*main background*/
  --color-deep-space: #131533;
  /*component background*/

  --color-deep-space-opaque: rgba(19, 21, 51, 0.95);
  /* text + accents*/
  --color-frost-white: #E6F0F0;
  /* primary color + cta */
  --color-neon: #04D9FF;
  --color-neon-blue: #0C86FF;
  /* secondary color */
  --color-warm-amber: #FFB547;


  /* pattern to use */
  --color-primary: var(--color-neon);
  --color-secondary: var(--color-warm-amber);
  --color-light: var(--color-frost-white);
  --color-dark: var(--color-midnight);
  --color-medium: var(--color-deep-space);
  /* shadows */
  --shadow-primary: 0px 0px 20px var(--color-neon);
  --shadow-secondary: 0px 0px 20px var(--color-warm-amber);
  /* breakpoints */
  --breakpoint-desktop: 1200px;
  /* animations */
  --animate-wiggle: wiggle .5s ease-in-out infinite;
  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-9deg);
    }
    50% {
      transform: rotate(9deg);
    }
  }
}
* {
  scroll-behavior: smooth;
}
@layer base {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2.11rem;
  }
  p, span, a {
    font-size: 0.95rem;
  }

  @media(min-width: theme(--breakpoint-desktop)) {
    h1 {
      font-size: 3.815rem;
    }
    h2 {
      font-size: 3.052rem;
    }
    h3 {
      font-size: 2.441rem;
    }
    h4 {
      font-size: 1.45rem;
    }
    h5 {
      font-size: 1.28rem;
    }
    h6 {
      font-size: 1.1rem;
    }
    p, span, a {
      font-size: 1.1rem;
    }
    small {
      font-size: 0.8rem;
    }
  }

}
